services:
  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.1.1
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
    - WEBHOOK_URL=http://bot:8000/webhook 
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
     - postgres
     - redis


  postgres:
    container_name: postgres
    image: postgres:15
    command: ["postgres", "-c", "max_connections=1000"]
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=evolution
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  redis:
    image: redis:latest
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - redis:/data
    ports:
      - 6379:6379

  bot:
    build: .
    container_name: bot
    env_file:
      - .env
    depends_on:
      - evolution-api
      - redis
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./vector_store_data:/api/vector_store
      - ./rag_files:/api/rag_files
      - ./service_account.json:/app/service_account.json





volumes:
  evolution_instances:
  postgres_data:
  redis:
  vector_store_data:
  rag_files:

  